{% include 'header.html' %}

<div class="wrapper">
    <div class="post">
        <span id="post-{{post.id}}">
            <span class="date">{{post.created_on}}</span> by <a href="/profile/{{ post.author.id }}">{{post.author.username}}</a>
                </p>{{post.content}}
        </span>
    </div>
    <br><br>
    <b>Comments:</b>
    {% for comment in post.comment_set.all %}
        <div class="post">
            <span id="comment-{{comment.id}}">
                <span class="date">{{comment.created_on}}</span> by <a href="/profile/{{ comment.author.id }}">{{comment.author.username}}</a>
                    </p>{{comment.content}}
            </span>
        </div>
    {% endfor %}
</div>